<!--Por cada hero en heroes crear un div que contenga lo siguiente:-->

<h2 style="text-align:center;color: #fff;">My Heroes</h2>
<label for="new-hero" style="text-align:center;color: #fff;">¿Do you want to add a hero?:</label>
<br>
<div>
  
  <input id="new-hero" #heroName  placeholder="Type here the new hero's name"/>

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" mat-raised-button
  color="primary" (click)="add(heroName.value); heroName.value = ''">
    Add hero
  </button>
</div>
<div class="container">
  <div class="row">
  <li *ngFor="let hero of heroes" class="heroCard col-lg-3">
    <a routerLink="/detail/{{ hero.id }}" class="heroLink">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ hero.name }}</mat-card-title>
          <mat-card-subtitle>{{ hero.id }} </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>Some hero Data</p>
        </mat-card-content>
        <mat-card-actions
          ><button
            mat-raised-button
            color="primary"
            class="delete"
            title="delete hero"
            (click)="delete(hero)"
          >
            Delete Hero
          </button>
        </mat-card-actions>
      </mat-card>
    </a>
  </li>
</div></div>
